<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.aaronmeaney.solvecubed">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/StandardTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PalettePickerActivity"
            android:label="@string/palette_picker_activity_title"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>
        <activity
            android:name=".PrefsActivity"
            android:theme="@style/PreferencesTheme"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>
        <activity
            android:name=".PaletteConfirmationActivity"
            android:label="@string/palette_confirmation_activity_title"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>
        <activity
            android:name=".CubeInputActivity"
            android:label="@string/cube_input_activity_title"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>
        <activity
            android:name=".CubeConfirmationActivity"
            android:label="@string/cube_confirmation_activity_title"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"/>
    </application>
</manifest>
